.no-border {
  border: 0;
  border-width: 10px;
}

.title-icon {
  color: #27ae60;
  font-weight: 700;
}

.text-icon {
  color: #24445a;
  font-weight: 500;
}

.confirm-icon {
  font-weight: 600;
  padding-left: 100px;
  padding-right: 100px;
}

.title-icon-error {
  color: #cd3838;
  font-weight: 700;
}

.custom-class {
  border-radius: 100px;
  padding-left: 50px;
}

.otp-input {
  margin-right: 1px;
  margin-left: 1px;
}

.otp-button {
  margin-right: 100px;
  margin-left: 100px;
}

.simpan-button {
  font-weight: 200;
  padding-left: 100px;
  padding-right: 100px;
}

.batalkan-button {
  font-weight: 200;
  padding-left: 95px;
  padding-right: 95px;
}

.overlay-container {
  position: relative;
  display: inline-block;
}

.base-image,
.overlay-image {
  position: absolute;
  width: 150px;
  height: 150px;
}

.overlay-image {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.round{
  border-radius: 50px;
}

.hover-container {
  position: relative;
  display: inline-block;
}

.hover-text {
  visibility: hidden;
  background-color: white;
  color: #064878;
  text-align: center;
  font-weight: 600;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.60);
  padding: 8px;
  border-radius: 8px; 
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.hover-container:hover .hover-text {
  visibility: visible;
}

.legend-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 50px;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-color {
  width: 10px; 
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.legend-label {
  font-size: 14px;
}
