@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@layer components{
  .infield{
    @apply flex w-[313px] h-[40px] border rounded-[8px] text-secondary py-2 px-3 leading-tight text-[14px] items-center 
  }
}  

@layer components{
  .button{
    @apply w-[313px] h-[40px] py-2 px-4 rounded-[8px] text-[14px] font-medium text-white bg-secondary hover:bg-third active:bg-secondary active:bg-opacity-70
  }
}   

select:focus {
  outline:none;
}   

/* custom scrollbar */
::-webkit-scrollbar{
  width: 10px;
}
.mini-scrollbar::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #24445A;
  border-radius: 100px;
}
.input-icons {
  width: 100%;
}

.input-icons i {
  position: absolute;
  left: 200px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}
